@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    max-width: 80%;
    margin: auto;
}

.menu {
    margin: 2rem 0;
    display: flex;
    justify-content: end;
    column-gap: 2rem;
    list-style-type: none;
}

.menu li{
    font-size: xx-small;
}

.menu-selected{
    color: red;
}

.aboutme-text{
    width: 60vw;
    line-height: 1.5rem;
}

.icons {
    margin: 3rem 0;
}

.icons a{
    margin: 0 2rem 0 0 ;
}

.portfolio-content h1{
    text-align: center;
    font-size: 4rem;
}

